@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

html, body {
	height: 100%;
	overflow-x : hidden;
}

body {
	background-image: url('/images/dark_leather.png');
	@media screen and (max-width: 767px) {
		padding-left: 0px;
		padding-right: 0px;
	}
}




div#contents{
	background:rgba(250, 250, 250, 0.9);
	-webkit-box-shadow: 0px 0px 50px 0px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 0px 50px 0px rgba(50, 50, 50, 0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
}

div#headerspace {
	width:100%;
	margin-top:20%;
}

div#title {
	margin: 0 auto;
}

div#searchControls {
	margin-bottom: 100px;
	margin-left: 30px;
	@media screen and (max-width: 767px) {
		margin-left: 0px;
	}
}

div#classifiedsContainer {
	margin: 0 35px;
}

h1#titleText{
	a {
		text-decoration:none;	
	}
}


p.price {
	font-size: 4em;
	font-weight: bold;
	height:auto;
	
}

.thumbnails > li {
	@media screen and (min-width: 1200px) {
	margin-left: 20px;
	}
}

/* graph malarky */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;    
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}
div.push {
    height: 63px;
}

/* responsive footer fix by Aalaap Ghag */
@media screen and (max-width: 767px) {
    wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }

		.wrapper > .container {
		  padding-left: 5px;
		  padding-right: 5px;
		}


    div#classifiedsContainer {
margin: 0;
}
}

.container {
    max-width: 940px;
}