<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Car Price Finder</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/main.css"/>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->


        <!-- build:js scripts/scripts.js -->
        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/lodash.min.js"></script>
        <script src="scripts/vendor/bootstrap/bootstrap-transition.js"></script>
        <script src="scripts/vendor/backbone-min.js"></script>
        <script src="scripts/vendor/d3.v2.js"></script>
        <script src="scripts/lineChart.js"></script>
        <script src="scripts/models.js"></script>
        <script src="scripts/collections.js"></script>
        <script src="scripts/views.js"></script>
        <script src="scripts/routers.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <!-- Templates -->
        <script type="text/template" id="homeview-template">
            <div class="wrapper">
                <div id="contents" class="container">
                </div>
                <div class="push"><!--//--></div>
            </div>
        </script>

        <script type="text/template" id="title-template">
            <div id="headerspace" class="hidden-phone"></div>
            <div id="title" class="row">
                <div class="span6">
                    <h1 id="titleText">
                        <a href="/">Car Price Finder <img src="images/car.svg" class="hidden-phone"></a>
                    </h1>
                    <p id="subTitle" class="lead hidden-phone">
                        Search the market value of any second-hand car
                    </p>
                </div>
            </div>

        </script>
        
        <script type="text/template" id="explanation-template">
            <div id="explanation" class="well">
                <h3>What is this site?</h3>
                <p>
                   Gluten-free ethnic in, iphone whatever retro thundercats PBR laborum et selvage carles godard semiotics put a bird on it. PBR thundercats laboris craft beer. Semiotics street art beard banksy gluten-free odd future. Delectus consectetur you probably haven't heard of them incididunt bicycle rights laborum, voluptate proident. Odd future helvetica organic, reprehenderit lo-fi DIY occupy quis fanny pack sartorial nisi hoodie gluten-free master cleanse quinoa. Occaecat iphone marfa odio you probably haven't heard of them cray. Letterpress non marfa next level, PBR portland consequat.
                </p>
                <h3>How do we calculate the price?</h3>
                <p>
                    Occupy consectetur master cleanse stumptown irure, narwhal PBR direct trade ethical whatever chillwave qui. Tofu mustache reprehenderit master cleanse occaecat direct trade. Et irony laboris, typewriter shoreditch nisi in letterpress reprehenderit aute wolf incididunt ad. Magna you probably haven't heard of them jean shorts tattooed. Locavore hella odd future, squid dreamcatcher post-ironic ethical keffiyeh gluten-free DIY occaecat blog. Vinyl fugiat cray quinoa assumenda, sunt whatever dreamcatcher fap ethical. Tempor labore lo-fi ethical consectetur, terry richardson food truck 8-bit assumenda semiotics cosby sweater sustainable VHS banh mi kale chips.
                </p>
                <h3>Do you sell cars?</h3>
                <p>
                    Fap kale chips post-ironic quinoa mollit. Polaroid mlkshk ullamco, 3 wolf moon pinterest tumblr yr. Aesthetic cliche elit, do placeat nisi artisan typewriter brunch blog craft beer. Forage pour-over minim, yr polaroid gluten-free wolf sriracha skateboard pitchfork PBR. Polaroid seitan deserunt godard, proident bushwick shoreditch nulla lo-fi ullamco. Beard cray fap semiotics, eiusmod yr qui. Terry richardson occupy sriracha tofu, tumblr in before they sold out pour-over cray.
                </p>

            </div>
        </script>
        <script type="text/template" id="footer-template">
            <div class="container">
                <p>Prototype for assignment 3 of the <a href="https://class.coursera.org/hci-2012-002/class/index" rel="external">Human-Computer Interaction class</a> from coursera. Built by <a href="http://alolo.co/" rel="author">Dario Villanueva</a>. Uses <a href="http://twitter.github.com/bootstrap/" rel="external">Twitter Bootstrap</a> and <a href="http://backbonejs.org" rel="external">Backbone.js</a>.</p>
            </div>
        </script>

        <script type="text/template" id="search-template"> 
            <div class="row">
                <div class="span2">
                    <h4>Make:</h4>
                    
                    <select id='make' class="span2">
                        <option>Renault</option>
                    </select>
                    
                </div>
                <div class="span2">
                    <h4>Model:</h4>
                    <select id='model' class="span2">
                        <option>Clio</option>
                    </select>
                    
                </div>
                <div class="span1">
                    <h4>Year:<h4/>
                    <select id='year' class="span1">
                        <option>2012</option>
                        <option>2011</option>
                        <option>2010</option>
                        <option>2009</option>
                        <option>2008</option>
                        <option>2007</option>
                        <option>2006</option>
                        <option>2005</option>
                        <option>2004</option>
                        <option>2003</option>
                        <option>2002</option>
                        <option>2001</option>
                        <option>2000</option>
                    </select>
                </div>
                <div class="span2">
                    <h4>Mileage:</h4>
                    <select id='mileage' class="span2">
                        <option>200000</option>
                        <option>150000</option>
                        <option>100000</option>
                        <option>50000</option>
                        <option>10000</option>
                    </select>
                    </label>
                </div>
                
            </div>
            <div class="row">
                <div class="span7">
                <button id="search" class="btn btn-block btn-inverse btn-large">Search!</button>
                </div>
            </div>
        </script>

        <script type="text/template" id="results-template">
            <div class="span11">
                <div class="row">
                    <div id="carInfo" class="span5">
                        <div class="row">
                            <p class="lead span5">
                            1999 Renault Clio <span class="hidden-phone">with</span> 100,000 miles
                            </p>
                        </div>
                        <div class="row">
                            <p class="price span5">£1,280</p>
                            <p class="small span5">
                                (approx price)
                            </p>
                        </div>
                        <div class="row">
                            <div id="graph" class="span5 img-polaroid">
                            </div>
                        </div>
                    </div>                
                    <div id="carImage" class="span6">
                        <img src="images/clio.png" class="img-polaroid">
                    </div>
                    
                </div>
                <div class="row">
                    <div id="priceHistoryGraph" class="span6"></div>
                    <div id="priceDistributionGraph" class="span6"></div>
                </div>
                <div class="row">
                    <div id="classifiedsTitle" class="span12">
                    <h3>Classified Ads From Other Sites</h3>
                    </div>
                <div class="row">
                    <div class="span12">
                    <div id="classifiedsContainer" class="row"></div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="classified-template">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="">
                <div class="caption">
                    <h4><%= price %></h4>
                    <p><%= description %></p>
                    <p><a href="<%= link %>" class="btn btn-primary">go!</a></p>
                </div>
            </div>
        </script>



        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
